<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> ㄱ제목ㄴ </title>
</head>
<body>
	<h1>내용태그</h1>
    <br>
    <!--주석 줄바꿈과 줄긋기-->
    <hr>
    <br>
    <h6>ㅁㄴㅇㄹ</h6>
    <!--문단태그-->
    <p>ㄴ ㅇ ㄹ</p>
    <pre> 실 험 시 작   123
    1213</pre>
    <strong>강하다</strong>
    <br>
    <b>강하...</b>
    <br>
    <em>기울기</em>
    <br>
    <i>기울기</i>
    <br>
    <blockquote cite="www.naver.com">인용문구를 나타내는 태그</blockquote>
    <q>인용문구를 나타내는 태그</q>
    <br>
    <mark>형광펜효과 태 그</mark>
    <u>밑줄긋기</u>
    <small>작은 글씨</small>
    <br>
    <sub>아래첨자</sub>
    <sup>윗첨자</sup>
    <s>취소선넣는태그</s>
    <br>
    태그내에서 중첩으로 사용가능
    <strong><mark>5</mark></strong>
    <i>3</i> <s>2</s>
    <strong>2</strong>
    <i>4</i> <s>9</s>
    <hr><hr><hr>
    <marquee height="100px" scrollamount="2" direction="up" bgcolor="blue">marquee태그 테스트</marquee>
</body>
</html>