<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>목록태그</title>
</head>
<body>
    
    순서없는 목록태그 ul
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ul>
    
    순서목록태그 ol
    <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    소문자표기
    <ol type='a'>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    대문자표기
    <!--ol type='A'-->
    <!--밑과 같은뜻-->
    <ol type="A">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    로마숫자 소문자
    <ol type='i'>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    로마숫자 대문자
    <ol type='I'>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    시작값변경
    <ol type='1' start='5'>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    역순표시
    <ol reversed>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    설명목록태그
    <dl>
        <dt>목록제목</dt>
        <dd>목록설명</dd>
        <dd>목록설명_2</dd>
        <dt>목록제목2</dt>
        <dd>목록설명2_1</dd>
        
    </dl>
</body>
</html>