<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <!--alt는 경로가 깨진경우에 나옴-->
    <img src="../img모음/dog.jpg" alt="개사진" id="top">
    <img src="../img모음/dog.jpg" width="100px" height="100px">
    <hr><hr><hr>
    <a href='#bottom'>맨아래로</a>
    <img src="../img모음/dog.jpg" usemap="#dogmap">
    <map name="dogmap">
        <area shape="circle" coords="261,138,103" href="../img모음/head.jpg" target="_self">
        <area shape="circle" coords="473,320,82" href="../img모음/disk.jpg" target="_self">
        <area shape="circle" coords="202,357,35" href="../img모음/leg.jpg" target="_self">
    </map>
    
    <audio controls autoplay loop src="" preload="metadata"></audio>
    <!--poster가 썸네일임-->
    <video controls src="" poster=""></video>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/Y0xMbCp8t4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--하이퍼링크-->
    <a href="https://www.naver.com">네이버</a>
    <br>
    <a href="https://www.google.com" target="_blank">구글</a>
    <br>
    <a href="https://www.naver.com"><img src="../img모음/naver.jpg"></a>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <h1>임시</h1>
    <a href='#top' id="bottom">맨위로</a>
</body>
</html>