<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <table border=1>
        <tr>
            <th width=100 height=100>네이버로고</th>
            <th colspan="5" width=500>검색창</th>
        </tr>
        <tr>
            <th height=30>메일</th>
            <th>카페</th>
            <th>블로그</th>
            <th>지식In</th>
            <th>쇼핑</th>
            <th rowspan="2" width=200>로그인</th>
        </tr>
        <tr>
            <th colspan="5" rowspan="2" align="center">
                <table border="1" width=500 he>
                    <tr>
                        <th height=100>MBN</th>
                        <th>NewDelity</th>
                        <th>중앙일보</th>
                        <th>연합뉴스</th>
                    </tr>
                    <tr>
                        <th height=100>파이낸셜</th>
                        <th>SBS</th>
                        <th>매일경제</th>
                        <th>동아일보</th>
                    </tr>
                    <tr>
                        <th height=100>KBS</th>
                        <th>전자신문</th>
                        <th>시사IN</th>
                        <th>노컷뉴스</th>
                    </tr>
                    <tr>
                        <th height=100>프레시안</th>
                        <th>OSEN</th>
                        <th>이투데이</th>
                        <th>뉴스타파</th>
                    </tr>
                </table>
            </th>
        </tr>
        <tr>
            <th rowspan="3">광고</th>
        </tr>
    </table>

    <table border=1>
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>홍길동</td>
                <td>20</td>
                <td>서울</td>
            </tr>
            <tr>
                <td>홍길동1</td>
                <td>21</td>
                <td>서울</td>
            </tr>
            <tr>
                <td>홍길동2</td>
                <td>22</td>
                <td>부산</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" align="center">총인원</td>
                <td>3명</td>
            </tr>
        </tfoot>
    </table>
</body></html>
