<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <style>
        /*전체선택자*/
        
        * {
            color: red;
            background-color: cornsilk;
        }
        /*태그선택자*/
        div
        {
           color: aqua;
           background-color: black;
        }
        p{
            background: yellow;
            color:bisque;
        }
        /*아이디선택자*/
        #idtest{
            color:blue;
        }
        /*클래스선택자*/
        .classtest{
            color:blue;
        }
    </style>
</head>
<body>
    selector.html
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3<span class="classtest">h3내부태그</span></h3>
    <p id="idtest">pppp</p>
    <div>divdiv</div>
    <p>ppppppppppppppppp</p>
</body>
</html>