<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>테이블 태그</title>
</head>

<body>
    tableTag.html
    <br>
    <table border='1'>
        <caption>테이블 제목</caption>
        <tr>
            1행
            <td width='50px;' height='50px'>1열</td>
            <td>2열</td>
            <td>3열</td>
        </tr>
        <tr>
            2행
            <td>1열</td>
            <td>2열</td>
            <td>3열</td>
        </tr>
        <tr>
            3행
            <td>1열</td>
            <td>2열 테 스 트 문 구</td>
            <!--td>3열</td-->
        </tr>
    </table>
    <hr>
    <table border="1">
        <caption><b>웹 브라우저의 종류</b></caption>
        <tr>
            <th>브라우저명</th>
            <th>제조사</th>
            <th>홈페이지</th>
        </tr>
        <tr>
            <td>익스플로러</td>
            <td>MicroSoft</td>
            <td>https://www.microsoft.com</td>
        </tr>
        <tr>
            <td>크롬</td>
            <td>Google</td>
            <td>https://www.google.com</td>
        </tr>
        <tr>
            <td>사파리</td>
            <td>Apple</td>
            <td>https://www.apple.com</td>
        </tr>
        <tr>
            <td>파이어폭스</td>
            <td>Mozila</td>
            <td>https://www.mozlia.org</td>
        </tr>
    </table>
    <hr>
    <table border="1">
        <tr>
            <td colspan="3">1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>3</td>
        </tr>
    </table>
    <hr>
    <table border="1">
        <tr>
            <td rowspan="3">1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>4</td>
        </tr>
    </table>
    <hr>
    <table border="1">
        <tr>
            <td rowspan='2' colspan='2' width=130px height=150px>사진 </td>
            <td width='80px'>이름</td>
            <td width='200px'></td>
        </tr>
        <tr>
            <td>연락처</td>
            <td></td>
        </tr>
        <tr>
            <td width=70px height=50px>주소</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td width=100px>자기소개</td>
            <td colspan="3"></td>
        </tr>
    </table>
    <table border=2>
        <tr>
            <td colspan="5"><b>보석 컬렉션</b></td>
        </tr>
        <tr>
            <td rowspan="5"><b>제품리스트</b></td>
            <td><b>코드</b></td>
            <td><b>분류</b></td>
            <td><b>가격</b></td>
            <td><b>구매가능 개수</b></td>
        </tr>
        <tr>
            <td>01-468</td>
            <td>에메랄드</td>
            <td>200,000원</td>
            <td>1068</td>
        </tr>
        <tr>
            <td>01-469</td>
            <td>루비</td>
            <td>150,000원</td>
            <td>1700</td>
        </tr>
        <tr>
            <td>01-470</td>
            <td>사파이어</td>
            <td>950,000원</td>
            <td>2500</td>
        </tr>
        <tr>
            <td>01-471</td>
            <td>다이아몬드</td>
            <td>120,000원</td>
            <td>3200</td>
        </tr>
        <tr>
            <td> ★ 특가 ★ </td>
            <td colspan="4">푸드렛 타이트 (문의전화주세요)</td>
        </tr>
    </table>
    <hr>
    <hr>
    <hr>
    <table border="1.5">
        <tr>
            <th colspan="6" width=510>이력서</th>
        </tr>
        <tr>
            <th colspan="2" rowspan="4"><b>사진</b></th>
            <th>이름</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td width=50px></td>
            <th>이메일</th>
            <td width=50px></td>
        </tr>
    </table>
    <br>
    <table border="2">
        <tr>
            <td width=50></td>
            <th>기간</th>
            <th>출신학교명</th>
            <th>전공</th>
            <th>졸업여부</th>
            <th>학점</th>
        </tr>
        <tr>
            <td rowspan="2" width=70><b>학력사항</b></td>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
        </tr>
        <tr>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
        </tr>
    </table>
    <br>
    <table border="2">
        <tr>
            <td width=50></td>
            <th>기간</th>
            <th>시행처</th>
            <th>취득일</th>
        </tr>
        <tr>
            <td rowspan="2"><b>자격증</b></td>
            <td width=150></td>
            <td width=150></td>
            <td width=150></td>
        </tr>
        <tr>
            <td width=80></td>
            <td width=80></td>
            <td width=80></td>
        </tr>
    </table>
</body>

</html>
