<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>이번주 식단</h1>
    ● 월요일 <i>식단</i>
    <ul>        
        <li><b>돈까스</b></li>
        <li>참치찌개</li>
        <li><mark><i>계란말이</i></mark></li>
        <li>김치</li>
    </ul>
    
    ● 화요일 <i>식단</i>
    <ol type="1" start="5">
        <li><b>닭다리튀김</b></li>
        <li>김치찌개</li>
        <li><u>오므라이스</u></li>
        <li><s>김치</s> -> <mark>떡볶이</mark></li>
    </ol>
    
    ● 수요일 <i>식단</i>
    <ol type="i">
        <li><u><b>수제햄버거</b></u></li>
        <li>우유</li>
        <li><u>스프</u></li>
        <li>단무지<sub><mark>2개</mark></sub></li>
    </ol>
    
    ● 목요일 <i>식단</i>
    <ol type="i">
        <li><b>삼겹살</b><sup><mark>특식</mark></sup></li>
        <li>상추</li>
        <li>부침개</li>
        <li><u>무국</u></li>
    </ol>
    
     ● 금요일 <i>식단</i>
    <ol type="a" reversed>
        <li><mark<b>치즈피자</b></body></li>
        <li><i>피클</i></li>
        <li>콜라</li>
        <li>스파게티</li>
    </ol>

    <hr>
    <dl>
        <dt><q>일하지 않는자 먹지도 말라</q></dt>
        <dd>- 김x민 -</dd>
    </dl>
    <br>
    <i><blockquote cite="http://iei.or.kr">식단출처 : kh 정보 교육원(http://iei.or.kr)</blockquote></i>
</body>
</html>