<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <style>    
        #h1{
            border: 1px solid red;
            height: 30px;
        }
        #nav{
            border: 1px solid blue;
            height: 20px;
        }
        #content{
            border: 1px solid yellow;            
        }
        #content>div{
            border: 1px solid black;
            height: 50px
        }
    </style>
</head>
<body>
    <div id="header">
        <div id="h1" height=100></div>
        <div id="nav" height=100></div>
    </div>
    <div id="content">
        <div id="c1"></div>
        <div id="c2"></div>
    </div>
</body>
</html>