<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <link href="header.css" rel="stylesheet" type="text/css">
    <link href="body2.css" rel="stylesheet" type="text/css">
    <link href="footer.css" rel="stylesheet" type="text/css">
    <div class="header">
        <div id="logo">
            <img src="img/character.png">
        </div>
        <div id="hmain">
            <div id="hmaintop">
                <h1>Welcome To Lee's World</h1>
            </div>
            <div id="hmainbot">
                <ul>
                    <li>JAVA</li>
                    <li>ORACLE</li>
                    <li>HTML5/CSS3</li>
                    <li>게시판</li>
                </ul>
            </div>
        </div>
        <div id="loginform">
            <div id="login">
                <input type="button" value="로그인">
            </div>
            <div id="caccount">
                <input type="button" value="회원가입">
            </div>
        </div>
    </div>
    <div class="body">
        <div id="lbody">
            <div id="lup">
                <div>공지사항</div>
                <div>자유게시판</div>
                <div>사진게시판</div>
            </div>
            <div id="ldn">
                <img src="img/ad1.jpg">
                <p>광고는 처음이지</p>
                <img src="img/ad2.jpg">
                <p>광고는 4딸라</p>
            </div>
        </div>
        <div id="rbody">
            <div id="rtop">
                <input type="button" value="글쓰기">
            </div>
            <div id="rmid">
                <ul id="no">
                   <li>번호</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                </ul>
                <ul id="title">
                   <li>제목</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                    <li>hihihi[20]</li>
                </ul>
                <ul id="writer">
                   <li>글쓴이</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                    <li>관리자</li>
                </ul>
                <ul id="date">
                   <li>날짜</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                    <li>03-01</li>
                </ul>
                <ul id="view">
                   <li>조회수</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                    <li>24</li>
                </ul>
                <div id="btns">
                    <input type="button" value="1">
                    <input type="button" value="2">
                    <input type="button" value="3">
                    <input type="button" value="4">
                    <input type="button" value="5">
                    <input type="button" value="6">
                    <input type="button" value="7">
                    <input type="button" value="8">
                    <input type="button" value="9">
                    <input type="button" value="10">
                    <input type="button" value=">">
                    <input type="button" value=">>">
                </div>
                <hr>
            </div>
            <div id="rbot">
                <select>
                    <option>제목</option>
                    <option>내용</option>
                    <option>글쓴이</option>
                </select>
                <input type="text">
                <input type="button" value="검색">
            </div>
        </div>
    </div>
    <div class="footer">
        <p>COPYRIGHT ⓒ Lee's Cooperation</p>
    </div>
</body></html>
