<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <link href="header.css" rel="stylesheet" type="text/css">
    <link href="mbody.css" rel="stylesheet" type="text/css">
    <link href="footer.css" rel="stylesheet" type="text/css">
    <div class="header">
        <div id="logo">
            <img src="img/character.png">
        </div>
        <div id="hmain">
            <div id="hmaintop">
                <h1>Welcome To Lee's World</h1>
            </div>
            <div id="hmainbot">
                <ul>
                    <li>JAVA</li>
                    <li>ORACLE</li>
                    <li>HTML5/CSS3</li>
                    <li>게시판</li>
                </ul>
            </div>
        </div>
        <div id="loginform">
            <div id="login">
                <input type="button" value="로그인">
            </div>
            <div id="caccount">
                <input type="button" value="회원가입">
            </div>
        </div>
    </div>
    <div class="mbody">
        <img src="img/HtmlCss.jpg">
    </div>
    <div class="footer">
        <p>COPYRIGHT ⓒ Lee's Cooperation</p>
    </div>
</body>
</html>
