
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link href="weight.css" rel="stylesheet" type="text/css">

<body>
    <div class="left">
        <input type="button" value="=">
        <div id="content">
            <ul id="list">

            </ul>
        </div>
    </div>
    <div class="mid">
        <div id="title">
            <p>3대 500만들기</p>
        </div>
        <div id="center4">
            <p id="subtitle">ID 찾기</p>
            <div id="change">
                <table>                  
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                </table>
            </div>
            <div class="btns">
                <input type="button" value="찾기"><input type="button" value="취소">
            </div>
            <p id="subtitle">PW 찾기</p>
            <div id="change">
                <table>
                    <tr>
                        <td>ID</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>                    
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                </table>
            </div>
            <div class="btns">
                <input type="button" value="찾기"><input type="button" value="취소">
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
    <div class="right">

    </div>
</body></html>
