<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link href="weight.css" rel="stylesheet" type="text/css">

<body>
    <div class="left">
        <input type="button" value="=">
        <div id="content">

        </div>
    </div>
    <div class="mid">
        <div id="title">
            <p></p>
        </div>
        <div id="center2">
            <p id="subtitle">개인 정보 변경</p>
            <div id="change">
                <table>
                    <tr>
                        <td>비밀번호</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <td>비밀번호 확인</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td><input type="text" placeholder="내용을 입력해주세요"></td>
                    </tr>
                </table>
            </div>
            <div class="btns">
                <input type="button" value="변경하기"><input type="button" value="취소">
            </div>
            <div id="delbtn">
                <input type="button" value="회원탈퇴하기">
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
    <div class="right">
        <div id="ad">
            <input type="button" value="마이페이지">
            <input type="button" value="로그아웃">
        </div>
        <div id="ex">

        </div>
    </div>
</body></html>
