<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link href="weight.css" rel="stylesheet" type="text/css">

<body>
    <div class="left">
        <input type="button" value="=">
        <div id="content">
            
        </div>
    </div>
    <div class="mid">
        <div id="title">
            <p>가슴운동</p>
        </div>
        <div id="center">
           <p>벤치프레스</p>
           <div id="movie">
           <iframe src="https://www.youtube.com/embed/0DsXTSHo3lU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
        </div>
        <div id="footer">
            <input type="button" value="<">
            <input type="button" value=">">
        </div>
    </div>
    <div class="right">
        <div id="ad">
            <input type="button" value="마이페이지">
            <input type="button" value="로그아웃">            
        </div>
        <div id="ex">
            <p>3대 운동 중 하나이며 가슴 근육 성장에 좋은 운동.
            90도로 가동범위까지 떨어져서 자극을 제대로 받는 것이 중요함.
            깔려서 죽거나 다치는 경우도 많이 발생함.
            대체 가능한 운동으로는 체스트 프레스 정도가 있다.</p>
        </div>
    </div>
</body>

</html>
