<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link href="weight.css" rel="stylesheet" type="text/css">

<body>
    <div class="left">
        <input type="button" value="=">
        <div id="content">
            <ul id="list">
                <li><a href="#">가슴 운동</a></li>
                <li><a href="#">어깨 운동</a></li>
                <li><a href="#">등 운동</a></li>
                <li><a href="#">하체 운동</a></li>
                <li><a href="#">팔 운동</a></li>
                <li><a href="#">재 활</a></li>
            </ul>
        </div>
    </div>
    <div class="mid">
        <div id="title">
            <p>3대 500만들기</p>
        </div>
        <div id="center">
            <img src="004.jpg">
        </div>
        <div id="footer">
            <input type="button" value="<">
            <input type="button" value="○">
            <input type="button" value="○">
            <input type="button" value="●">
            <input type="button" value="○">
            <input type="button" value=">">
        </div>
    </div>
    <div class="right">
        <div id="ad">
            <p>광 고</p>
        </div>
        <div id="loginform">
            <div id="idpw">
                <div id="id">
                    <input type="text" placeholder="Username">
                </div>
                <div id="pw">
                    <input type="password" placeholder="●●●●">
                </div>
            </div>
            <div id="btn">
                <input type="submit" value="로그인">
            </div>
            <div id="btns">
                <input type="button" value="회원가입"><input type="button" value="ID/PW찾기">
            </div>
        </div>

        <div id="search">
            <select>
                <option>작성자</option>
                <option>제목</option>
                <option>내용</option>
            </select>
            <input type="search">
        </div>
        <div id="board">
            <table>
                <tr id="tr1">
                    <td>작성자</td>
                    <td>제목</td>
                    <td>조회수</td>
                </tr>
                <tr>
                    <td>로니콜먼</td>
                    <td>1톤 레그프레스</td>
                    <td>1M View</td>
                </tr>
                <tr>
                    <td>제레미 부엔디아</td>
                    <td>포징</td>
                    <td>77K View</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
